<script>
    document.getElementById('mskvideo').playbackRate = 0.5;
</script>
<video poster="" id="mskvideo" playsinline autoplay muted loop>
    <source src="images/background-video.mp4" type="video/mp4">
</video>

<div id='over'></div>
<div id="polina">
    <div class="top-navbar">
        <div class="col-xs-3 ho-logo">
            <div class="food-finder-text">FoodFinder</div>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-6 toggle-padding">

            <div ng-hide="model.currentUser=='0'||model.currentUser==undefined" class="ho-negative-margin">
                <div class="dropdown pull-right ho-dropdown-padding">

                    <button class="btn btn-default dropdown-toggle ho-profile-btn"
                            type="button" data-toggle="dropdown">
                        <span class="ho-button-text">{{model.currentUser.username}}</span>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu nav-dropdown-menu">
                        <li><a href="#!/user">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            User Dashboard</a>
                        </li>
                        <li><a href="#!/profile">
                            <span class="glyphicon glyphicon-user"></span>
                            Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#!/logout">Logout</a></li>
                    </ul>

                </div>
            </div>

            <div ng-hide="model.currentUser!='0'&& model.currentUser!=undefined" class="ho-negative-margin ho-nav-buttons">
                <a href="#!/login" class="btn btn-danger ho-login-btn pull-right">Member Login</a>
                &nbsp;&nbsp;<a href="#!/register" class="btn btn-danger pull-right hide-on-mobile">Sign Up</a>
            </div>
        </div>
    </div>


    <div class="centered">
        <div class="msk-greeting-text">
            ALOHA!<br> Find the best restaurants near you
        </div>

        <div class="msk-search-bar">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 zero-padding">
                <form>
                    <div>
                        <label>Address</label>
                        <input ng-model="model.place.address" type="text" class="form-control"
                        id="address">
                    </div>
                    <br>
                    <a class="btn btn-success btn-block"
                       ng-click="model.search(model.place)">Search</a>
                </form>

            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>

    </div>
</div>