<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites Edit</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../assignment/css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
            New Website
        </a>
        <a href="#" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div class="container">
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input class="form-control" placeholder="name" id="name"/>

        <label for="description">Description</label>
        <textarea class="form-control" rows="5"
                  placeholder="Description"
                  id="description"></textarea>

    </form>

</div>


<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>
</html>