<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left" style="margin-left: 0px;">
            <a class="navbar-link" href="#!/website">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold">
            Pages
        </a>
        <a href="#!/website/{{model.wid}}/page/new"
           class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group cl-list-item-borderless">
        <li ng-repeat="page in model.pages" class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <a href="#!/website/{{model.wid}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>