<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left" style="margin-left: 0px;">
            <a class="navbar-link" href="#!/website/{{model.wid}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold">
            Edit Page
        </a>
        <a ng-click="model.updatePage(model.page)"
           class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container">

    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input class="form-control"
               ng-model="model.page.name"
               id="name"/>

        <label for="description">Description</label>
        <input class="form-control"
               ng-model="model.page.description"
               id="description"/>
    </form>
    <a ng-click="model.updatePage(model.page)" class="btn btn-success btn-block">Update</a>
    <a ng-click="model.deletePage(model.pid)" class="btn btn-danger btn-block">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>