<div class="container">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widget.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           ng-model="model.widget.url"
           value="https://i.kinja-img.com/gawker-media/image/upload/s--25yHmBDK--/c_scale,fl_progressive,q_80,w_800/mtd7hfjmtnkzdimjgyuf.jpg"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           ng-model="model.widget.width"
           value="100%"
           id="width"/>

    <label for="file">Upload</label>
    <input type="file" multiple class="form-control" id="file"/>

</div>